body{
  font-family:Arial, Helvetica, sans-serif;
  font-size: 1em;

}
/* Sección barra de navegación y búsqueda*/
.menu{
  background-color: rgb(202, 230, 240);
  height: 08vh;
  display: flex;
  align-items: center;
  padding: .3em;
}
.menu .nav{
  width: 55em;
  margin-left: 2em ;
  display: flex;
  justify-content: space-between;
}

.nav a:hover{
  color: red;
}
.nav a{
  color: rgb(3, 61, 78);
  text-decoration: none;
  font-weight:700;
}
.menu .buscar{
  width: 30em;
  display: flex;
  justify-content:space-evenly;

}

/* Sección Best seller y adaptaciones literarias*/
.best{
  height: 87vh;

}
.best h2{
  font-size: 35px;
  text-align: center;
}
.libros{
  margin: 0 auto;
  width: 90%;
  display: flex;
  justify-content: space-between;
}
.libros .tarjeta{
  background-color: rgb(232, 232, 235);
  width: 30%;
  height: 50%;
  border: 1px solid rgb(128, 126, 126); 
  margin: 5px;
  justify-content:center;
}

.tarjeta h3{
  text-align: center;
}

.tarjeta p{
  text-align: center;
}
.tarjeta img{
  width: 100%;
  height: 60%;
  object-fit: cover;
}
/* Estilos para la tarjeta */
.tarjeta {
  position: relative;
  background-color: rgb(232, 232, 235);
  width: 30%;
  height: 50%;
  border: 1px solid rgb(128, 126, 126);
  margin: 5px;
  overflow: hidden;
  transition: transform 0.3s ease-in-out;
}

/* Estilos para la ventana emergente (popup) */
.popup {
  position: absolute;
  top: 0;
  right: -350px; /* Empieza oculta fuera del área de la tarjeta */
  width: 300px;
  background-color: #fff;
  box-shadow: -5px 0 5px rgba(0, 0, 0, 0.2);
  padding: 5px 10px ;
  display: none;
  z-index: 1;
}

.popup iframe {
  width: 100%;
  height: 150px; /* Ajusta el tamaño del iframe según tu preferencia */
}

.popup p {
  font-size: 14px;
}

/* Cambio de estilo al pasar el ratón sobre la tarjeta */
.tarjeta:hover {
  transform: scale(1.25); /* Puedes ajustar el nivel de escala según tu preferencia */
}

.tarjeta .texcard{
  margin: 4px;

}
/* Sección trailers de peliculas y el de libros*/
 .trailer h2{
  text-align: center;
}
.slider{
  overflow: hidden;
}

.slider .slide-track{
  display: flex;
  animation: scroll 10s linear infinite;
  width: 300%;
  animation-play-state: running; 
     
}
.slider .slide-track:hover{
  animation-play-state: paused;
}

.slider .slide{
  width: 200px; 
  
}
.slider .slide img{
  width: 100%;
  height: 75%; 
  transition: transform 0.5s; 
} 
.trailer .slide img:hover {
  transform: scale(1.1);
  cursor: pointer;
}
.modal {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 1;
  overflow: hidden;
}

.modal-content {
  position: relative;
  margin: auto;
  width: 80%;
  max-width: 800px;
  background-color: #fff;
  padding: 20px;
}

.close {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 30px;
  cursor: pointer;
}



footer {
  background-color: rgb(202, 230, 240);
}

.contenidoFooter{
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 0;
}

.redesSociales h4,
.footerLinks h4 {
  text-align: center; 
  
}

.redesSociales ul,
.footerLinks ul {
  list-style-type: none;
  display: flex;
  justify-content: center; 
  padding: 0;
  margin: 0;


}
.redesSociales ul li,
.footerLinks ul li {
  margin: 20px;
  
}

.redesSociales ul li i{
  font-size: 30px;
}



@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-1200px);
  }
}





  


/*diseño responsive*/
@media screen and (max-width: 1200px){
  .menu {
      background-color: rgb(202, 230, 240); 
      width: 96vw;       
  }
  .best{    
      height: initial;
  }
}
@media screen and (max-width: 1024px){
  .menu {
      background-color: rgb(202, 230, 240);        
  }
  .best{
       height: initial;
  }
}
@media screen and (max-width: 992px){
  .menu {
      background-color: rgb(202, 230, 240);        
  }
  .best{
       height: initial;
  }
}
@media screen and (max-width: 768px){
  .menu {
      background-color: rgb(202, 230, 240);        
  }
  .best{
       height: initial;
  }
}
@media screen and (max-width: 576px){
  .menu {
      height: initial;
      flex-direction: column;        
  }
  .menu .nav{
      align-items: center;
      width: 33em;
      margin: 0;
  }
  .best{
      height: initial;
  }
  .libros{
      flex-direction: column;
      align-items: center;
  }
  .libros .tarjeta{
      width: 80vw;
  } 
}
@media screen and (max-width: 425px){
  .menu {
      height: initial;
      flex-direction: column;        
  }
  .menu .nav{
      flex-direction: column;
      justify-content: space-between;
      align-items: center;
      width: 24em;
      margin: 0;
  }
  .menu .buscar{
      width: 24em;
  }
  .best{
      height: initial;
  }
  .libros{
      flex-direction: column;
      align-items: center;
  }
  .libros .tarjeta{
      width: 80vw;
  } 
}
@media screen and (max-width: 375px){
  .menu {
      height: initial;
      flex-direction: column;        
  }
  .menu .nav{
      flex-direction: column;
      justify-content: space-between;
      align-items: center;
      width: 24em;
      margin: 0;
  }
  .menu .buscar{
      width: 24em;
  }
  .best{
      height: initial;
  }
  .libros{
      flex-direction: column;
      align-items: center;
  }
  .libros .tarjeta{
      width: 80vw;
  } 
}
@media screen and (max-width: 320px){
  .menu {
      height: initial;
      width: 96vw;
      flex-direction: column;        
  }
  .menu .nav{
      flex-direction: column;
      justify-content: space-between;
      align-items: center;
      width: 20em;
      margin: 0;
  }
  .menu .buscar{
      width: 24em;
  }
  .best{
      height: initial;
  }
  .libros{
      flex-direction: column;
      align-items: center;
  }
  .libros .tarjeta{
      width: 80vw;
  } 
  .footer{
      width: 96vw;
  }
}

